body, h1, h2 {
    font-family: "Raleway", Arial, sans-serif;
}

h1 {
    letter-spacing: 4px;
}

h2, h3, b {
    opacity: 0.9;
}

.section {
    margin-bottom: 60px;
}

.name {
    margin-bottom: 6px;
}

.email {
    margin-top: 0;
    margin-bottom: 0;
}

.projectIcon {
    font-size: 16px;
}

.classIcon {
    font-size: 10px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 60px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.container {
    padding-left: 100px;
}

.legend {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    gap: 20px;
}

.legend li {
    display: flex;
    align-items: center;
    gap: 5px;
}

.badge {
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
    color: white;
    border-radius: 15px;
    margin: 5px;
    text-transform: capitalize;
}

/* Colors for categories */
.language {
    background-color: #3498db;
}

.tools {
    background-color: #e67e22;
}

.ml {
    background-color: #2ecc71;
}

.others {
    background-color: #8A2BE2;
}

.bullet {
    margin-bottom: 50px;
}